@model Blog.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
    int counter = 0;
    string categoryColor = string.Empty;
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div class="text-center">
    @if (this.User.IsInRole("Admin"))
    {
        <div class="float-left">
            <p style="color: gold">Admin</p>
        </div>
        <div>
            <a class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="Create">Create</a>
        </div>
    }
    <div>

    </div>
    <table class="table">

        @foreach (var article in Model.Articles)
        {

            <tr>
                <td>
                    <p style="color: lightgray">@article.Date.ToString("dddd, dd MMMM yyyy")</p>
                </td>
                <td>
                    <h1><a style="color: darkred !important" href="home/details/@article.Id">@article.Title</a></h1>

                    <div class="text-left">
                        <p class="text-left">@Html.Raw(Model.Preview[counter++]) <a href="home/details/@article.Id">Read More.....</a></p>
                    </div>

                </td>
                @switch (article.Category)
                {
                    case CategoryType.general:
                        categoryColor = "grey";
                        break;
                    case CategoryType.web:
                        categoryColor = "blue";
                        break;
                    case CategoryType.AI:
                        categoryColor = "white";
                        break;
                    case CategoryType.hacking:
                        categoryColor = "green";
                        break;
                    case CategoryType.tips:
                        categoryColor = "burlywood";
                        break;
                    default:
                        break;
                }
                <td><span class="text-danger">Category: </span><span style="color: @categoryColor">@article.Category</span></td>
                <td><span class="text-danger">Author: </span>@article.Author</td>
                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        <a href="admin/eddit/@article.Id" class="btn btn-outline-warning">Eddit</a>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-controller="Admin" asp-route-id="@article.Id" method="post">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                }
            </tr>
        }
    </table>
</div>
