@model Blog.ViewModels.ProjectsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
<h1>@Model.Ttitle</h1>
<div>@Model.Technology</div>
<div>@Model.Description</div>
<div>@Model.GitHubLink</div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
